<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Short Url" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Short Url" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <div class="row">
      <div class="large-3 columns">&nbsp;</div>
      <div class="large-6 columns">
        <div class="row">
          <div class="large-12 main">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
      </div>
      <div class="large-3 columns">&nbsp;</div>
    </div>
  </body>
</html>
